/* Time picker component: Only shows when setting the timer length */
.timePicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 20px;
}

.manualInput {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  gap: 3px;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;

}

.timeInput {
  width: 30px;
  text-align: center;

  border-radius: 6px;
  padding: 4px;

  background-color: aliceblue;
}

/* Actual timer component */

.Timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  padding: 20px;
  background-color: rgb(63, 163, 130);


}

.setTimeButton {
  border-radius: 8px;
  background-color: rosybrown;

  padding: 8px 16px;

  font-size: 20px;
  font-weight: bold;
  color: white;

  cursor: pointer;
}

.timerDisplay{
  border-radius: 10px;
  background-color: aliceblue;
  padding: 10px 16px;
  margin: 10px;

  font-size: large;
  font-weight: bold;
}

.controlButtonsContainer{
  display: flex;
  justify-content: center;
  align-content: center;

  gap: 6px;
}

.confirmButton,
.startStopButton,
.ResetButton {
  border-radius: 8px;
  padding: 6px 12px;

  background-color: #074F57;

  font-weight: bold;
  color: aliceblue;

  cursor: pointer;
}
