.stopwatch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #777777;
  padding: 20px 30px;
  border-radius: 15px;
}

.display {
  font-size: 5em;
  color: black;
}

.startButton, .stopButton, .resetButton {
  border: none;
  border-radius: 6px; 
  margin: 10px;
  padding: 6px 16px;
  
  color: rgb(0, 0, 0);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.1em;
  
  cursor: pointer;
}