.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;

  margin-left: 120px;
  min-height: 100vh;
  padding: 1rem;
}

.componentsGrid {
  width: 100%;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  align-items: start;
}

.componentContainer {
  width: 100%;
}