.app {
  align-content: center;
  min-height: 100vh;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.componentsGrid {
  width: 100%;
  display: grid;
  align-content: center;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  align-items: start;
}

.componentContainer {
  width: 100%;
}