.tictactoeComponent {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.gameboard {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.board-row {
  display: flex;
  gap: 0;
}

.square {
  width: 60px;
  height: 60px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  border-style: solid;
  border-width: 1px;
  border-color: rgb(90, 90, 90);
  border-radius: 0;

  font-family: system-ui, serif;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}